<h1> Testing this page</h1>

 <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Player per Team</th>
        <th>Fee</th>
      </tr>
    </thead>

    <tbody> <h3>July</h3> 
      <% @users.games.where("date LIKE '%-07-%'").order('date').each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= game.dynamic %></td>
          <td><%= game.price %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

   <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Player per Team</th>
        <th>Fee</th>
      </tr>
    </thead>

    <tbody> <h3>August</h3> 
      <% @users.games.where("date LIKE '%-08-%'").order('date').each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= game.dynamic %></td>
          <td><%= game.price %></td>
        </tr>
      <% end %>
    </tbody>

  </table>

