

<div class="landing-page">
  <img src="https://cdn4.iconfinder.com/data/icons/STROKE/education_icons/png/400/school_events.png" alt="" class="circle responsive-img">
  <h3>Hi, <% if current_user %>
          <%= current_user.username %>
          <% else %>
          Pugster
          <% end %></h3>
  <p>You've organized <strong><%= @users.games.count(:id) %></strong> games, <br>
    and you've joined <strong><%= @users.played_games.count(:user_id) %></strong> games.</p>
  </div>

<div class="index container">

<!--  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Player per Team</th>
        <th>Fee</th>
      </tr>
    </thead>

    <tbody> <h3>Games Created</h3> 
      <% @users.games.order('date').each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= game.dynamic %></td>
          <td><%= game.price %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
 -->
      <br>
      <h4>Games Created</h4> 
       <% @users.games.order('date').each do |game| %>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle">perm_contact_calendar</i>
            <span class="title"><%= game.name %></span>
            <p><%= game.sport %> on <%= game.date %> @ <%= game.location %><br>
               <%= link_to 'Show', game %> | <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Delete', game, method: :delete, data: { confirm: 'You sure?' } %>
            </p>
          </li>
        </ul>
      <% end %>

<!--    <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Player per Team</th>
        <th>Fee</th>
      </tr>
    </thead>

    <tbody> <h3>Games Played</h3> 
      <% @users.played_games.order('date').each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= game.dynamic %></td>
          <td><%= game.price %></td>
        </tr>
      <% end %>
    </tbody>

  </table> -->
    <br>
    <h4>Games Joined</h4> 
       <% @users.played_games.order('date').each do |game| %>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle">perm_contact_calendar</i>
            <span class="title"><%= game.name %></span>
            <p><%= game.sport %> on <%= game.date %> @ <%= game.location %><br>
               <%= link_to 'Show', game %> 
               <!-- | <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Delete', game, method: :delete, data: { confirm: 'You sure?' } %> -->
            </p>
          </li>
        </ul>
      <% end %>
      <br>
</div>
