
<%= flash[:notice] %> 
<div class="landing-page">
  
            <% if current_user.avatar? %>
              <%= image_tag current_user.avatar.url(:large), class: "circle responsive-img" %>
            <% else %>
              <img src="https://cdn4.iconfinder.com/data/icons/STROKE/education_icons/png/400/school_events.png" alt="" class="circle responsive-img">
            <% end %>
  <h3>Hi, <% if current_user %>
          <%= current_user.username %>
            <% else %>
          Pugster
          <% end %></h3>
  <p>You've organized <strong><%= @users.games.count(:id) %></strong> games, <br>
    and you've joined <strong><%= @users.played_games.count(:user_id) %></strong> games.</p>
  </div>

<div class="index container">

<%= form_for @user do |f| %>
        <p>
      <%= f.label :image %><br>
          <%= f.file_field :avatar %>
        </p>
        <%= f.submit %>
        <% end %>
<!--  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Player per Team</th>
        <th>Fee</th>
      </tr>
    </thead>

    <tbody> <h3>Games Created</h3> 
      <% @users.games.order('date').each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= game.dynamic %></td>
          <td><%= game.price %></td>
        </tr>
      <% end %>
    </tbody>

  </table>
 -->
      <br>
      <h4>Games Created</h4> 
       <% @users.games.order('date').each do |game| %>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="circle time"><%= game.time %></i>
            <span class="title"><%= link_to game.name.upcase, game %> on <%= game.date %></span><br>
            <a href='' class="location-grabber"><%= game.location.to_s + ', ' + game.city.to_s + ', ' + game.state.to_s + ' ' + game.zip.to_s %></a><br>
              <div class="links"><%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Delete', game, method: :delete, data: { confirm: 'You sure?' } %></div>
            </p>
            <a href="#!" class="secondary-content" method="delete"><i class="material-icons">delete</i></a>&nbsp;
            <a href="#!" class="secondary-content second-icon"><i class="material-icons">description</i></a>
          </li>
        </ul>
      <% end %>

<!--    <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Player per Team</th>
        <th>Fee</th>
      </tr>
    </thead>

    <tbody> <h3>Games Played</h3> 
      <% @users.played_games.order('date').each do |game| %>
        <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= game.dynamic %></td>
          <td><%= game.price %></td>
        </tr>
      <% end %>
    </tbody>

  </table> -->
    <br>
    <h4>Games Joined</h4> 
       <% @users.played_games.order('date').each do |game| %>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="circle time"><%= game.time %></i>
            <span class="title"><%= link_to game.name.upcase, game %> on <%= game.date %></span><br>
            <a href='' class="location-grabber"><%= game.location.to_s + ', ' + game.city.to_s + ', ' + game.state.to_s + ' ' + game.zip.to_s %></a><br>
            <span class="dynamic"><%= game.dynamic %></span>
               <!-- | <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Delete', game, method: :delete, data: { confirm: 'You sure?' } %> -->
            </p>
          </li>
        </ul>
      <% end %>
      <br>
</div>
