
<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row row1">
    <div class="input-field col s12 w1">
      <p class="fucking-form">Event name</p>
      <%= f.text_field :name, class: "create-game" %>
    </div>
  </div>

    <!-- <div class="field input-field">
      <%= f.label :sport %><br>
      <%= f.text_field :sport %>
    </div> -->

  <div class="row row2">
  <div class="input-field col s3 w2">
    <div class="field input-field">
      <p class="fucking-form">Date</p>
      <%= f.text_field :date, class: "datepicker" %>
    </div>
  </div>

  <div class="input-field col s3 w3">
    <div class="field input-field">
      <p class="fucking-form">Time</p>
      <%= f.text_field :time, class: "create-game" %>
    </div>
  </div>
</div>

 <div class="row row3">
    <div class="field input-field col s3 w1">
      <p class="fucking-form">Street address</p>
      <%= f.text_field :location, class: "create-game" %>
    </div>

    <div class="field input-field col s3 w2">
      <p class="fucking-form">City</p>
      <%= f.text_field :city, class: "create-game"%>
    </div>

    <div class="field input-field col s3 w3">
      <p class="fucking-form">State</p>
      <%= f.text_field :state, class: "create-game"%>
    </div>

    <div class="field input-field col s3 w2">
      <p class="fucking-form">Zip code</p>
      <%= f.text_field :zip, class: "create-game" %>
    </div>
  </div>

  <div class="row row4">
    <div class="field input-field col s3 w2" >
      <p class="fucking-form">Type</p>
      <%= f.text_field :dynamic, class: "create-game" %>
    </div>

  <div class="input-field">
    <div class="field input-field col s3 w3">
      <p class="fucking-form">Price</p>
      <%= f.text_field :price, class: "create-game" %>
    </div>
  </div>
  </div>

    <br>
    <div class="actions">
      <%= f.submit class: "btn waves-effect waves-light btn-large" %>
    </div>
    <br>
    <br>

  
<% end %>

