<p id="notice"><%= notice %></p>

<div class="landing-page">
  <!-- <img src="https://cdn4.iconfinder.com/data/icons/STROKE/education_icons/png/400/school_events.png" alt="" class="circle responsive-img"> -->
  <% if current_user.avatar? %>
              <%= image_tag current_user.avatar.url(:large), class: "circle responsive-img" %>
            <% else %>
              <img src="https://cdn4.iconfinder.com/data/icons/STROKE/education_icons/png/400/school_events.png" alt="" class="circle responsive-img">
            <% end %>
  <h3>Welcome, <% if current_user %>
          <%= current_user.username %>
          <% else %>
          Pugster
          <% end %></h3>
  <p>There are <strong><%= @games.count(:id) %></strong> games happening on Pugly.</p>
  </div>

</div>
<br>


<div class="index container-index">
    <%= stylesheet_link_tag 'map'%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFncEYZl8HQG3b-r1Dh6vWSTyJh9Oxygs ">
    </script>
    <%= javascript_include_tag 'map'%>


    <div id="map-canvas" class="map"></div>

<!--   <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead> -->

   <!--  <tbody> -->
      <div id="scroll-games">
      <% @games.order('date').each do |game| %>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="circle time"><%= game.time %></i>
            <span class="title"><%= link_to game.name.upcase, game %></span><br>
            <a href='' class="location-grabber"><%= game.location.to_s + ', ' + game.city.to_s + ', ' + game.state.to_s + ' ' + game.zip.to_s %></a><br>
            <span class="dynamic"><%= game.dynamic %></span>
               
               <!-- CAN ONLY EDIT OR DELETE FROM USER PAGE
               <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Delete', game, method: :delete, data: { confirm: 'You sure?' } %> -->
            </p>
          </li>
        </ul>
<!--         <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'You sure?' } %></td>
        </tr> -->
      <% end %>
 <!--    </tbody> -->
 <!--  </table> -->
      </div>
</div>

<br>


