<p id="notice"><%= notice %></p>

<div class="landing-page">
  <img src="https://cdn4.iconfinder.com/data/icons/STROKE/education_icons/png/400/school_events.png" alt="" class="circle responsive-img">
  <h3>Welcome, <% if current_user %>
          <%= current_user.username %>
          <% else %>
          Pugster
          <% end %></h3>
  <p>There are <strong><%= @games.count(:id) %></strong> games happening on Pugly.</p>
  </div>

</div>
<br>


<div class="index container">
    <%= stylesheet_link_tag 'map'%>
    <%= stylesheet_link_tag 'mapcreate'%>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCFncEYZl8HQG3b-r1Dh6vWSTyJh9Oxygs ">
    </script>
    <%= javascript_include_tag 'map'%>


    <div id="map-canvas" class="map"></div>

<!--   <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Sport</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th colspan="3"></th>
      </tr>
    </thead> -->

   <!--  <tbody> -->

      <% @games.order('date').each do |game| %>
        <ul class="collection">
          <li class="collection-item avatar">
            <i class="material-icons circle">perm_contact_calendar</i>
            <span class="title"><%= game.name %></span>
            <p><%= game.sport %> on <%= game.date %> @ <%= game.location %><br>
               <%= link_to 'Show', game %> 
               <!-- CAN ONLY EDIT OR DELETE FROM USER PAGE
               <%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Delete', game, method: :delete, data: { confirm: 'You sure?' } %> -->
            </p>
          </li>
        </ul>
<!--         <tr>
          <td><%= game.name %></td>
          <td><%= game.sport %></td>
          <td><%= game.date %></td>
          <td><%= game.time %></td>
          <td><%= game.location %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'You sure?' } %></td>
        </tr> -->
      <% end %>
 <!--    </tbody> -->
 <!--  </table> -->

</div>

<br>


