<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Sport:</strong>
  <%= @game.sport %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @game.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Dynamic:</strong>
  <%= @game.dynamic %>
</p>

<p>
  <strong>Price:</strong>
  <%= @game.price %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
