<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><% if current_user %>
    <%= link_to 'Profile', user_path(current_user) %>
    <% else %>
    Profile
    <% end %>
  </li>
  <li><a href="#"><% if current_user %><%= button_to "Log out", session_path, method: :delete, class: "logout" %> <% else %>
          substitute<% end %></a></li>
  <li class="divider"></li>
</ul>
<div class="navbar">

<nav>
  <div class="nav-wrapper">
    <a href="/games" class="brand-logo"><%= image_tag "new_logo.png", :class => "logo" %></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to 'FIND A GAME', games_path %></li>
      <li><%= link_to 'ORGANIZE A GAME', new_game_path, class: "new" %></li>
      

      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="" data-activates="dropdown1"> 
        <% if current_user %>
          Hi, <%= current_user.username %>
        <% else %>
          Guest
        <% end %> <i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
</div>


<% if flash[:message] %>
  <div class="message">
    <%= flash[:message] %>
  </div>
<% end %>